parser/*.o
parser/*.cmi
parser/*.cmx
.*.swp
semantics/c11*-kompiled
dist
parser/cparser
parser/clexer.ml
parser/cparser.ml
parser/cparser.mli
semantics/settings.k
semantics/extensions.k

.env
semantics/.kompile-*
semantics/.kompile-*
verification/.kompile-*
verification/avl
verification/avl.o
verification/avl.out
verification/bst
verification/bst.o
verification/bst.out
verification/c-verifier-kompiled
